body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  
    color: #434455;
    background-color: #ffffff;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .link {
    text-decoration: none;
  }
  .list {
    list-style-type: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .main-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .page-header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .main-navigation {
    align-items: center;
    display: flex;
  }
  .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
  }
  .other-name {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  
  .menu-item {
  }
  
  .line::after {
    background-color: #2e2f42;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
  }
  .line:hover::after {
    background: #404bbf;
  }
  .menu-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-link {
    color: var(--OCEAN, #404bbf); 
  }

  
  .studio-link::after {
    content: "";
    display: flex;
    width: 48px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--OCEAN, #404bbf);
    border-radius: 2px;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  
  .contact-info {
    font-style: normal;
  }
  .main-contact-info {
    display: flex;
    gap: 40px;
  }
  
  .link-contact {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-conact,
  :hover,
  .link-conact,
  :focus {
    color: #404bbf;
  }
  
  /* ----------------------------Перший сектор------------ */
  
  .first {
    background-color: #2e2f42;
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
  }
  
  .title {
    color: #fff;
    /* Header 1 */
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    text-align: center;
  
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    width: 496px;
  }
  
  .button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
  
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    margin: 0 auto;
    font-size: 16px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
  
  /*------------------------- друга секція -------------------*/
  
  .colums {
    padding: 120px 0 120px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .tape {
    display: flex;
    gap: 24px;
  }
  .colum-one-to-four {
    width: calc((100% - 72px) / 4);
  }
  .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    fill: #2e2f42;
  
    margin-bottom: 8px;
  }
  
  .list-icon:hover {
    fill: #4d5ae5;
  }
  
  .title-colum {
    color: #2e2f42;
  
    /* Header 3 */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .colum-nfo {
    color: #434455;
  
    /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  /*              Третій сектор      */
  
  .folks {
    background-color: #f4f4fd;
    padding: 120px 0;
  }
  
  .our-team {
    color: #2e2f42;
    text-align: center;
  
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-team-photo {
    display: flex;
    gap: 24px;
  }
  .team {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
  }
  
  .name-and-work {
    padding: 32px 0;
    text-align: center;
  }
  .photo {
    background: #fff;
    justify-content: center;
    background-color: #ffffff;
  }
  .name-the-team {
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .tape-of-work {
    color: #434455;
    text-align: center;
    text-align: center;
  
    /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
  
  .social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .networks {
    width: 40px;
    height: 40px;
  }
  .social {
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social:hover {
    background-color: #31d0aa;
  }
  .social:focus {
    background-color: #31d0aa;
  }
  .icon {
    /* fill: #f4f4fd; */
  }
  
  /*             четвертий сектор       */
  
  .our-product {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-portfolio {
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
  
    font-size: 36px;
  
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  .all-products:hover .owerlay-part {
    transform: translateY(0%);
  }
  .all-products:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .listed {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding-left: 0;
  }
  .all-products {
    width: calc((100% - 48px) / 3);
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .owerlay-part:hover {
    transform: translateY(0%);
  }
  .first-part {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .title-product {
    color: #2e2f42;
    margin-bottom: 8px;
  
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .text-product {
    /* Body */
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .position {
    position: relative;
    overflow: hidden;
  }
  .photo-product {
    position: relative;
    overflow: hidden;
  }
  .owerlay-part {
    position: absolute;
    top: 0;
    left: 0;
    background: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .owerlay-part:hover {
    transform: translateY(0%);
  }
  
  /*  ...............................ПІДВАЛ.......................... */
  
  .land {
    background-color: #2e2f42;
    padding: 100px 0;
  }
  .last-land {
    display: flex;
    align-items: baseline;
    /* justify-content: space-between; */
  }
  .logoin {
    color: var(--IRIS, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
  }
  .botton-other-name {
    color: #f4f4fd;
  }
  .text-of-land {
    color: var(--CLOUD, #f4f4fd);
  
    /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
  }
  
  .futer-media {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }
  .logo-and-paragraph {
    margin-right: 120px;
  }
  .social-icon {
    display: flex;
    gap: 16px;
  }
  .sicial-link:hover {
    background-color: #31d0aa;
  }
  .sicial-link:focus {
    background-color: #31d0aa;
  }
  .sicial-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sicial-link {
    width: 40px;
    height: 40px;
  }
  .group-sotial-icons {
    display: flex;
    gap: 16px;
  }
  .size-of-icon {
    fill: #f4f4fd;
  }

  .footer-input-btn-icon {
    fill: black;
  }

  .footer-email-form-wrapper {
    margin-left: auto;
  }
  .footer-email-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .footer-email-form-text {
    color: var(--WHITE, #FFF);

    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;

    margin-bottom: 16px;
  }

  .footer-email-input {
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    width: 264px;
    height: 40px;
    color: #ffffff;

    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;

    padding-left: 16px;
   

    background-color: transparent;

    outline: 0px solid transparent;

  }
  .footer-email-input::placeholder {
   color: #ffffff;
  }

  .footer-email-input:focus {
    border-color: #4D5AE5;
    
    }

  .footer-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5; 
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .footer-submit-btn:hover,
  .footer-submit-btn:focus {
   background-color: var(--OCEAN, #404BBF);
  }




  .footer-input-btn-icon {
    margin-left: 16px;
  }


/* ----------------backdrop---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;


  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}


.backdrop.is-open {

  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}



/* -------------------/backdrop-------------- */

/* ---------------modal window-------------------- */


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #FCFCFC;


  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 2px 1px rgba(0, 0, 0, 0.2);

 padding: 72px 24px 24px 24px;

 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}



.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center; 




  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 0;
  background-color: var(--CORNFLOWER, #E7E9FC);;
  border: none;
  line-height: 0;

  stroke: rgba(46, 47, 66, 1);
  fill: rgba(46, 47, 66, 1);


  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn-icon {
 

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  background-color: var(--OCEAN, #404BBF);
  border: none; 

}

.review-form-description {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  
 
  font-weight: 500;
  line-height:  1.5;
  letter-spacing: 0.02em;


  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-textarea-wrapper {
  margin-bottom: 16px;
}
.review-form-field-label {
  display: block;
  color: var(--LIGHT-SLATE, #8E8F99);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  margin-bottom: 4px;

  }

  .review-form-input-wrapper {
    position: relative;
  }


  .review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: rgba(46, 47, 66, 1);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


  }
  

.review-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  background-color: transparent;
  padding-left: 38px;

  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: 0px solid transparent;
}
  

.review-form-input:focus {
border-color: #4D5AE5;

}

.review-form-input:focus + .review-form-input-icon {
 fill: #4D5AE5;
  
  }

.review-form-comment {
  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  background-color: transparent;
  padding: 8px 16px;
  resize: none;


  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;


  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.review-form-comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}


.review-form-comment:focus {
  border-color: #4D5AE5;
  
}

.review-form-checkbox-wrappper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
   /* display: inline-flex; */
   align-items: center;

  
  color: var(--LIGHT-SLATE, #8E8F99);
  
  font-size: 12px;
 
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

}

.review-form-checkbox-label a {
  display: inline-flex;
  margin-left: 3px;
  color: var(--IRIS, #4D5AE5);

  font-size: 12px;
  
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}



.review-form-own-checkbox {

 display: inline-flex;

  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
 cursor: pointer;
 margin-right: 8px;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


  fill: transparent;

}

.review-form-checkbox:checked +
 .review-form-checkbox-label > 
 .review-form-own-checkbox {
 background-color: #404BBF;
 border-color: #404BBF;
 border: none;
 fill: #F4F4FD;

}
.review-form-own-icon {
fill: white;
opacity: 0;
}

.review-form-checkbox:checked +
 .review-form-checkbox-label  
 .review-form-own-icon {
  opacity: 1;

 }
 .review-form-checkbox:focus +
 .review-form-checkbox-label > 
 .review-form-own-checkbox {
 outline: 2px solid #404BBF;
 
}

/* .review-form-submit-btn {
  min-width: 117px;
  padding: 14px 40px;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  color: #ffffff;
  transition: background-color 250ms linear, color 250ms linear;
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
} */


.review-form-submit-btn {
  display: block;


  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: var(--IRIS, #4D5AE5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: var(--OCEAN, #404BBF);
} 













/* -------------/modal window-------------------- */


